<div class="container">
  <!-- Component for adding servers and blueprints -->
  <!-- Binding to custom events
    $event - used to pass information being recieved from the event
  (serverCreated)="onServerAdded($event)"
  (blueprintCreated)="onBlueprintAdded($event)" -->
  <app-cockpit 
  (serverCreated)="onServerAdded($event)"
  (bpCreated)="onBlueprintAdded($event)"
  >
</app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onChangeFirst()">Change first element</button>
      <button class="btn btn-danger" (click)="onDestroyFirst()">Destroy first Component</button>
      <!-- Component for single server element -->
      <!-- *ngFor- Directive for calling elements of serverElements -->
      <!-- [srvElement] = "serverElement" - Binding to Custom property -->
      <app-server-element 
      *ngFor= "let serverElement of serverElements"
      [srvElement]="serverElement"
      [name]="serverElement.name">
        <p #contentParagraph>
          <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
          <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
       </p>
      </app-server-element>
      
    </div>
  </div>
</div>
